# Python 
__pycache__/
*.pyc
.env
.env.*
.venv/
venv/
# FAISS data or vectorstore
backend/app/vector_store/
# Node
node_modules/
dist/
# Docker
*.log
# VS Code and Visual Studio files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
# transcripts
data/