 version: "3.9"

 services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: youtube-rag-backend
    ports:
      - "8000:8000"
    env_file:
      - .env

  frontend:
    build:
      context: ./frontend/my-ui
      dockerfile: Dockerfile
    container_name: youtube-rag-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
