 # LangChain Core
langchain
langchain-core==1.0.4
langchain-openai==0.2.2
langchain-community==1.0.4

langchain-text-splitters

# OpenAI Integration
openai

# LLM
sentence-transformers

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
# langchain-huggingface==0.1.2
transformers==4.43.3 
huggingface-hub==0.34.1 

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# API libraries for youtube transcript
youtube-transcript-api

# vector stores
faiss-cpu   
tiktoken 

# fast api
fastapi
uvicorn
fastapi-cors

